.App{
    display: flex;
    justify-content: center;

    &_title{
        text-transform: uppercase;
        text-align: center;
        line-height: 20px;
        font-family: 'Roboto', sans-serif;
    }
}